 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white;
     font-family: "Lato", serif;


 }


 // h1,
 // h2 {
 //     font-family: "Rubik", sans-serif;
 // }

 p {
     font-size: 14px;
 }

 header {
     width: 90%;
     margin: auto;
     padding: 25px 0;

     nav {
         // background-color: $bg2;
         padding: 20px;
         // position: fixed;
         top: 0;
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         //  color: $text-color2;
         font-size: 14px;
         // border-bottom: 1px dotted gray;
         // border-bottom-style: ;

         h1 {
             color: black;
             font-weight: 600;
         }
     }


     ul {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         gap: 15px;
     }

     li {
         list-style: none;
     }

     .nav-item {
         font-size: 16px;
         text-decoration: none;
         color: rgb(117, 111, 111);
     }

     .nav-item:hover {
         border-top: 3px solid navy;
         color: black;
         background-color: rgb(240, 243, 247);
         color: rgb(160, 154, 154);
         padding: 2px;
         border-radius: 5px;
     }

     li img {
         width: 30px;
         height: 30px;
         border-radius: 100%;
     }

     .cart-svg {
         width: 30px;
         height: 30px;
     }

     span {
         color: white;
         // position: absolute;
         background-color: red;
         padding: 0 4px;
         border-radius: 100%;
         font-size: 12px;
     }



 }

 .hide {
     display: none;
 }

 .show {
     display: block;
 }

 main {

     width: 90%;
     margin: auto;
     background-color: black;

     #hero {
         width: 100%;
         height: 400px;
         background-image: url("https://media.istockphoto.com/id/964824758/photo/weapon-wielding-viking-inspired-black-warrior-alone-in-front-of-a-mountain-range-and-clan.jpg?s=612x612&w=0&k=20&c=ffMtpcP44VCmKgHdUWV8lzIf3CeWa4jj_PKe3rKFOU0=");
         background-repeat: no-repeat;
         object-fit: fill;
         //  object-position: center;
         background-size: cover;
         background-position: center;
         margin-bottom: 30px;
         //  align-self: center;
         //  align-items: center;
         align-content: center;
         padding-left: 30px;

         div {
             //  align-self: center;
             background-color: rgba(0, 0, 0, 0);
             width: 50%;
             //  background: none;

             h2 {
                 margin-bottom: 50px;
                 font-weight: 600;
                 font-size: 2rem;
                 background-color: none;
             }

             p {
                 font-size: 16px;
                 line-height: 35px;
                 width: 80%;
             }
         }
     }

     //  #latest{
     //     width: 100%;
     //  }
     #container,
     #latest {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 25px;
         border-radius: 10px;

         div {
             height: 250px;
             position: relative;


             .movie-desc {
                 position: absolute;
                 top: 50px;
                 //  left: 0px;
                 text-align: center;
                 //  background-color: #333;
                 //  opacity: 0.5;
                 height: fit-content;
                 border-radius: 0;

                 &:hover {
                     opacity: 1;
                 }

                 .title,
                 .dir,
                 .year {
                     //  position: absolute;
                     //  
                     line-height: 35px;
                 }
             }

             button {
                 width: 50%;
                 padding: 10px 3px;
                 border: none;
                 border-radius: 10px;
                 background-color: blue;
                 margin: 0 auto;
                 margin-left: 90px;
             }

             div {
                 height: 200px;
                 width: 100%;
                 border-radius: 10px;

                 img {
                     height: 180px;
                     width: 100%;
                     object-position: cover;
                     object-fit: fill;
                     border-radius: 10px;

                     opacity: 1;

                     &:hover {
                         transform: scale(1.2);
                         transition: all 1s ease-in-out;
                         opacity: 0;
                         //  margin: 0 30px
                     }

                 }


                 :hover {
                     backdrop-filter: blur(5);

                 }
             }
         }
     }
 }